<div class="payment-step-container payment-step-1-container clearfix">
  <div class="payment-step-1-form">
    <header>
      <h3>Ново нареждане</h3>
      <p class="payment-step-1-info">Изпратете нов превод от начало, като попълните формата</p>
    </header>
    <form #f="ngForm" [formGroup]="paymentForm1">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Сметка</mat-label>
          <mat-select (valueChange)="onSelectChange($event)" formControlName="accountId">
            <mat-option *ngFor="let account of accountsData;" [value]="account.accountId"> {{ account.accountName }}</mat-option>
          </mat-select>
          <mat-error *ngIf="paymentForm1.get('accountName')?.hasError('required')">Задължително поле</mat-error>
        </mat-form-field>
      </p>
      <p class="clearfix">
        <mat-form-field appearance="outline" class="mat-form-field-30">
          <mat-label>Валута</mat-label>
          <mat-select formControlName="currency">
            <mat-option *ngFor="let currency of currencies;" [value]="currency"> {{ currency }}</mat-option>
          </mat-select>
          <!-- <input matInput placeholder="Валута" formControlName="currency"> -->
          <mat-error *ngIf="paymentForm1.get('currency')?.hasError('required')">Задължително поле</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-form-field-right mat-form-field-60">
          <mat-label>Сума</mat-label>
          <input matInput placeholder="Сума" type="number" formControlName="ammount">
          <mat-error *ngIf="paymentForm1.get('ammount')?.hasError('required')">Задължително поле</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Получател</mat-label>
          <input matInput placeholder="IBAN на получател" formControlName="recepientIban">
          <mat-error *ngIf="paymentForm1.get('recepientIban')?.hasError('required')">Задължително поле</mat-error>
          <mat-error *ngIf="paymentForm1.get('recepientIban')?.hasError('pattern')">Грешен IBAN формат</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Име на получателя</mat-label>
          <input matInput placeholder="Име на получателя" formControlName="recepientName">
          <mat-error *ngIf="paymentForm1.get('recepientName')?.hasError('required')">Задължително поле</mat-error>
        </mat-form-field>
      </p>
      <!-- <button type="submit" class="btn next-btn">Напред</button> -->
    </form>
  </div>
  <span class="strange-text">или</span>
  <div class="payment-step-1-template">
    <header>
      <h3>Шаблон</h3>
      <p class="payment-step-1-info">Направете нов превод като изберете някой от готовите шаблони</p>
    </header>
    <div class="payment-templates">
      <div
        *ngFor="let template of templates"
        (click)="selectTemplate(template)"
        [class.selected]="selectedTemplate === template"
        class="template-item">
        <span class="template-name">{{ template.templateName }}</span>
        <div>
          <span class="template-currency">{{ template.templateCurrency }}</span>
          <span class="template-ammount">{{ template.templateAmount }}</span>
        </div>
        <span class="template-info"><i class="mdi mdi-alert-circle"></i></span>
      </div>
    </div>
  </div>
</div>
