<div class="payment-step-container payment-step-3-container">
  <div class="payment-step-review-containers">
    <header>
      <h3>Преглед</h3>
    </header>
    <div class="payment-step-review-content">
      <div class="payment-step-review-row">
        <div class="payment-step-review payment-step-review-left">
          <span>От сметка</span>
        </div>
        <div class="payment-step-review">
          <!-- TODO <span>{{ transactionData.iban }}</span> -->
        </div>
        <div class="payment-step-review">
          <span>{{ transactionData.accountName }}</span>
        </div>
      </div>
      <div class="payment-step-review-row">
        <div class="payment-step-review payment-step-review-left">
          <span>Сума</span>
        </div>
        <div class="payment-step-review">
          <span class="payment-step-review-currency">{{ transactionData.currency }}</span>
          <span>{{ transactionData.ammount }}</span>
        </div>
      </div>
      <div class="payment-step-review-row">
        <div class="payment-step-review payment-step-review-left">
          <span>Получател</span>
        </div>
        <div class="payment-step-review">
          <span>{{ transactionData.recepientIban }}</span>
        </div>
      </div>
      <div class="payment-step-review-row">
        <div class="payment-step-review payment-step-review-left">
          <span>Име на получателя</span>
        </div>
        <div class="payment-step-review">
          <span>{{ transactionData.recepientName }}</span>
        </div>
      </div>
      <div class="payment-step-review-row">
        <div class="payment-step-review payment-step-review-left">
          <span>Основание</span>
        </div>
        <div class="payment-step-review">
          <span>{{ transactionData.transactionDescription }}</span>
        </div>
      </div>
      <div class="payment-step-review-row">
        <div class="payment-step-review payment-step-review-left">
          <span>Дата на изпълнение</span>
        </div>
        <div class="payment-step-review">
          <span>{{ transactionData.transactionDate | date: 'dd MMM yyyy' : 'bg-BG' }}</span>
        </div>
      </div>
      <div class="payment-step-review-row">
        <div class="payment-step-review payment-step-review-left">
          <span>Валидно преди</span>
        </div>
        <div class="payment-step-review">
          <span>{{ transactionData.transactionValidBefore | date: 'dd MMM yyyy' : 'bg-BG' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
