header {
  height: 63px;
  padding: 20px 20px 0 20px;
}
.container {
  overflow: hidden;
}
.left-content {
  float: left;
  width: 20%;
  max-width: 273px;
}
.main-content {
  float: left;
  width: 80%;
}
