@import "main";

header {
  height: 63px;
  padding: 10px 20px 0 20px;
  h1 {
    font-size: 44px;
    a {
      text-decoration: none;
      color: #000;
    }
  }
}
.container {
  height: calc(100% - 63px);
  & > div {
    height: 100%;
  }
}
.left-content {
  float: left;
  width: 20%;
  background: linear-gradient(90deg, #465a65 0%, #31444b 100%);
}
.main-content {
  float: left;
  width: 80%;
  background-color: $general-bg;
}
