<nav>
  <ul class="left-menu">
    <li><span>Плати</span></li>
    <li>
      <a routerLink="accounts" routerLinkActive="selected">Сметки и карти</a>
      <ul class="left-sub-menu" style="display: none;">
        <li><a routerLink="accounts">Сметки</a></li>
        <li><span>Карти</span></li>
      </ul>
    </li>
    <li><a routerLink="pageNotFound" routerLinkActive="selected">Кредити</a></li>
    <li><span>Спестявания и инвестиции</span></li>
    <li><span>Застраховки</span></li>
  </ul>
</nav>
