<nav>
  <ul class="left-menu">
    <li class="pay"><span>Плати<a (click)="openPayment();" class="pay-button"><i class="mdi mdi-file-plus"></i></a></span></li>
    <li>
      <a routerLink="accounts" routerLinkActive="selected"><i class="mdi mdi-credit-card-outline"></i>Сметки и карти</a>
      <ul class="left-sub-menu">
        <li><a routerLink="accounts" routerLinkActive="selected">Сметки</a></li>
        <li><span>Карти</span></li>
      </ul>
    </li>
    <li><a routerLink="pageNotFound" routerLinkActive="selected">Кредити</a></li>
    <li><span>Спестявания и инвестиции</span></li>
    <li><span>Застраховки</span></li>
  </ul>
</nav>
