@font-face {
  font-family: PTSansWebRegular;
  src: url("src/assets/fonts/PT_Sans-Web-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: PTSansWebBold;
  src: url("src/assets/fonts/PT_Sans-Web-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: PTSansWebItalic;
  src: url("src/assets/fonts/PT_Sans-Web-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: PTSansWebBoldItalic;
  src: url("src/assets/fonts/PT_Sans-Web-BoldItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: UnicreditCYRegular;
  src: url("src/assets/fonts/UniCredit CY-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: UnicreditCYLight;
  src: url("src/assets/fonts/UniCredit CY-Light.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: UnicreditCYMedium;
  src: url("src/assets/fonts/UniCredit CY-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: UnicreditCYBold;
  src: url("src/assets/fonts/UniCredit CY-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
