<a *ngFor="let account of accounts"
  [routerLink]="account.accountId"
  routerLinkActive="selected"
  class="account-item">
  <div class="account-name">
    <h3>{{ account.accountName }}</h3>
  </div>
  <div class="account-info">
    <div class="account-info-top">
      <span class="account-iban">{{ account.iban }}</span>
      <span class="account-currency">{{ account.accountCurrency }} {{ account.balance }}</span>
    </div>
    <div class="account-info-bottom">
      <span class="mdi mdi-wallet"></span>
      <div [ngClass]="{ 'no-card': !account.accountCards }" class="account-cards">
        <span class="account-card-number">{{ account.accountCards }}</span>
        <span class="mdi mdi-credit-card-outline"></span>
      </div>
    </div>
  </div>
</a>
