@import "node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";
@import "~@mdi/font/css/materialdesignicons.min.css";
* {
  font-family: "UnicreditCYRegular", "arial", sans-serif;
}
html,
body {
  height: 100%;
}
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
