@import "node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";
@import "~@mdi/font/css/materialdesignicons.min.css";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$industria-task-primary: mat-palette($mat-indigo);
$industria-task-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$industria-task-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$industria-task-theme: mat-light-theme(
  $industria-task-primary,
  $industria-task-accent,
  $industria-task-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($industria-task-theme);

$custom-typography: mat-typography-config(
  $font-family: '"UnicreditCYRegular", sans-serif;',
);
@include mat-core($custom-typography);

* {
  font: 400 16px/20px "UnicreditCYRegular", "arial", sans-serif;
  outline: none;
}
html,
body {
  height: 100%;
}
input {
  outline: none;
}
*:focus {
  outline: none;
}
.mat-dialog-container {
  padding: 0 !important;
}
.mat-h1,
.mat-headline,
.mat-typography h1 {
  margin: 0;
}
.mat-h2,
.mat-title,
.mat-typography h2 {
  margin: 0;
}
.mat-h3,
.mat-subheading-2,
.mat-typography h3 {
  margin: 0;
}
.mat-h4,
.mat-subheading-1,
.mat-typography h4 {
  margin: 0;
}
.payment-steps-container {
  form {
    padding: 16px;
    p {
      margin-bottom: 0;
      // font-size: 11px;
      .mat-form-field {
        width: 100%;
        &.mat-form-field-35 {
          width: 35%;
        }
        &.mat-form-field-60 {
          width: 60%;
        }
        &.mat-form-field-50 {
          width: 50%;
        }
        &.mat-form-field-48 {
          width: 48%;
        }
        &.mat-form-field-right {
          float: right;
        }
        &.mat-form-field-appearance-outline {
          .mat-form-field-outline-thick {
            .mat-form-field-outline-start,
            .mat-form-field-outline-end,
            .mat-form-field-outline-gap {
              border-width: 1px !important;
            }
          }
          .mat-form-field-outline-thick {
            color: #747474;
          }
          .mat-form-field-infix {
            padding-top: 5px;
            padding-bottom: 7px;
          }
          .mat-form-field-label-wrapper {
            top: -23px;
          }
          .mat-form-field-subscript-wrapper {
            margin-top: 4px;
          }
        }
        &.mat-focused {
          .mat-form-field-label,
          .mat-form-field-outline-thick {
            color: #747474;
          }
        }
        &.mat-form-field-invalid {
          &.mat-form-field-invalid {
            .mat-form-field-outline-thick {
              color: #f44336;
            }
          }
        }
        &.mat-form-field-type-mat-select {
          .mat-form-field-infix {
            padding-bottom: 5px;
          }
        }
        mat-error {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }
}
// .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
//   // color: #f44336;
// }
// .mat-form-field-appearance-outline .mat-form-field-outline-thick {
//   color: lime;
// }
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float
  .mat-input-server:focus
  + .mat-form-field-label-wrapper
  .mat-form-field-label {
  transform: translateY(-1.22373em) scale(0.75);
}
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
