@font-face {
  font-family: PTSansWebRegular;
  src: url("src/assets/fonts/PT_Sans-Web-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: PTSansWebBold;
  src: url("src/assets/fonts/PT_Sans-Web-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: PTSansWebItalic;
  src: url("src/assets/fonts/PT_Sans-Web-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: PTSansWebBoldItalic;
  src: url("src/assets/fonts/PT_Sans-Web-BoldItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
