@import "variables";
@import "fonts";

.btn {
  display: inline-block;
  height: 35px;
  padding: 0 16px;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: $general-active-element;
}
