$general-active-element: #46adc6;
$general-text: #5d5d5d;
$general-bg: #e5f4f8;
$general-card-bg: #fff;
$hover-card-bg: #f3f9fa;
$secondary-text: #747474;
$labels: #778899;
$accent: #e61d25;
$error: #f17076;
